name: Test Workflow

on:
  workflow_call:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@v4

      - name: Install FVM
        shell: bash
        run: |
          curl -fsSL https://fvm.app/install.sh | bash
          fvm use stable --force

      - uses: kuhnroyal/flutter-fvm-config-action@v2
        id: fvm-config-action

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ steps.fvm-config-action.outputs.FLUTTER_VERSION }}
          channel: ${{ steps.fvm-config-action.outputs.FLUTTER_CHANNEL }}

      - name: Setup Melos
        uses: bluefireteam/melos-action@v3

      - name: Install DCM
        run: dart pub global activate dart_code_metrics

      - name: Install dependencies
        run: flutter pub get

      - name: Dart Analyze
        run: melos run analyze:dart

      - name: DCM Analyze
        run: melos run analyze:dcm

      - name: Build Runner
        run: melos run build_runner:build
        timeout-minutes: 5

      - name: Run Tests
        run: melos run test
